.mainBanner {
    /* margin-top: -100px; */
    position: relative;
    z-index: 1;
    /* height: calc(100vh + 100px); */
    height: 400px;
    width: 100%;
  
  }
  .desktopNavContainer nav{
    display: flex;
  }
  .desktopNavContainer {
    padding-top: 30px;
    /* background: linear-gradient(to top, rgb(0 0 0 / 89%) 10%, transparent 100%); */
  }
  
  .mainBanner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    background-color: #42230a63;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    /* display: flex;
    align-items: center; */
  }
  
  


  .logo {
    width: 100px;
    height: auto;
  }

  h1.header {
    text-align: center;
    font-family: var(--font-montserrat);
    color: var(--white);
    font-size: 55px;
    font-weight: 300;
    margin: 0px 0px 20px 0px;
    /* text-align: right; */
    /* font-style: italic; */
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #1c1c1cb9;
  }
  .downArrow{
    font-size: 50px;
    display: block;
    text-align: center;
    color: var(--white);
    animation: bounce 2s ease-in-out infinite;
  }

  .reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 150px;
    background: var(--golden);
    transition: background ease .3s;
  }
  
  .reservation:hover {
    background: var(--golden-light);
  }
  
  /* .reservation:hover a{
    color:var(--gray);
  } */
  .reservation a {
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    transition: color ease .3s;
  }
  
  @media (max-width: 991px) {
    .desktopNavContainer nav{
      display: none;
    }
  
    h1.header {
      font-size: 40px;
    }

  }
  
  @media (max-width: 767px) {
    .mainBanner{
      height:300px;
    }
    .logo {
    width: 75px;
    }
    h1.header {
      font-size: 40px;
      margin: 0px 0px 30px 0px;
    }
  


  

  }
  @media (max-width: 575px) {

    h1.header {
      font-size: 35px;
      margin: 30px 0px 30px 0px;
    }
.downArrow{
  line-height: 0px;
}
  

  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
  }