.checkboxWrapper{
  position: relative;
  display: inline-block;
  margin: 0px 10px 0px 0px;
}
.checkboxWrapper *,
.checkboxWrapper *:after,
.checkboxWrapper *:before {
  box-sizing: border-box;
}

.checkboxWrapper input {
  position: absolute;
  opacity: 0;
}
  
.checkboxWrapper input:checked + label svg path {
  stroke-dashoffset: 0;
}
  
.checkboxWrapper input:focus + label {
  transform: scale(1.03);
}

.checkboxWrapper input + label {
  position: relative;
  display: block;
  border: 2px solid #333;
  width: 25px;
  /* padding: 2px; */
  margin: 5px;
  height: 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease;
}
  
.checkboxWrapper input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}
  
.checkboxWrapper input + label svg {
  pointer-events: none;
  padding: 5% 5% 30% 5%;
}

.checkboxWrapper input + label svg path {      
  fill: none;     
  stroke: #333;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1,0,.37,.91);
}